<html>
    <head>
        <title>Finch Web App</title>
        <link rel = "stylesheet" href = "{{url_for('static', filename ='css/main.css')}}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <h1>Welcome to the Finch Web App! </h1>
        <p>Please see below for information regarding relevant providers. Note that the only available providers are 'gusto', 'workday', 'bamboohr', 'justworks', and 'paychex_flex'. We apologize for any inconvenience </p>
        {% block body %}{% endblock %}
    </body>
</html>