{% extends 'base.html' %}

{% block head %}
<title> Finch Web App</title>


{% endblock %}

{% block body %}
<div class="content">
    <h1>
        Get Provider Data 
    </h1>
    <p>Fill in provider below to get directory of employee data from given provider. Please wait once inputting provider.</p>
    
    <div class ="form">
        <form actions = "/" method = "POST">
            <input type="text" name="content" id="content">
            <input type="submit" value = "Search">

        </form>
    </div>

</div>
{% endblock %}